
h1 {
    margin-top:0;
    padding-top: 1%;
    color: black;
    font-weight: 400;
    margin-left: 2%;
}

header {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    float: right;
    padding-right: 2%;
    padding-bottom: 1%;
    text-decoration: none !important;
}

a:hover {
    color: white;
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}

.logo {
    background-color: #fff;
    width: 7%;
    height: 7%;
    float: left;
    margin-left: 0.1%;
    margin-right: 3%;
    margin-top: 0.15%;
    margin-bottom: 0.1%;
}